@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200;1,300;1,400;1,600;1,700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 57.71px;
    padding-bottom: 119px;
    align-items: center;
    background-color: #87509c;
    height: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 113px;
}

.header-content p {
    font-family: "Titilium Web";
    width: 971px;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    vertical-align: text-top;
    color: #fff;
}

.header-content button {
    width: 337.96px;
    height: 87.54px;
    background-color: #eb7d4b;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 32.95px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1011.02px;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 393px;
}

.navbar-list a {
    text-decoration: none;
    color: #fff;
}

.navbar-list a:hover {
    background-color: #643a79;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #17c2a4;
    padding: 112.51px 195px;
}

.service-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.service-title {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    color: #FFF;
}

.service-description {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFF;
    width: 577px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
    height: 310px;
    left: 195px;
    top: 911px;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.service-card span {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFF;
}

.service-card p {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFF;
}

.employee {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #e7f1f8;
    padding: 107px 200px;
}

.employee-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.employee-title {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    margin-bottom: 26px;
}

.employee-description {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    width: auto;
    margin-bottom: 73px;
}

.employee-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.employee-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mr-80 {
    margin-right: 80px;
}

.employee-card img {
    margin-bottom: 34px;
}

.employee-name {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 37px;
    color: #27283D;
}

.employee-department {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #30BAE7;
    margin-bottom: 9px;
}

.employee-card p {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 37px;
}

.employee-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.employee-social li {
    margin-right: 11px;
}

.skill {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 104px 220px;
}

.skill-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skill-title {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    color: #3C4761;
    margin-bottom: 24.37px;
}

.skill-description {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #3C4761;
    margin-bottom: 79px;
}

.skill-identificator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.skill-progress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.skill-progress text {
    font-family: 'Titillium Web'!important;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 76px;
    color: #3C4761;
}

.skill-progress span {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: #3C4761;
}

.progress-ring {
    width: 160px;
    height: 160px;
}

.progress-ring__circle1 {
    stroke: #30bae7;
    stroke-dasharray: 283;
    stroke-dashoffset: 28.3;
    animation: spin 1s linear infinite;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-ring__circle2 {
    stroke: #d74680;
    stroke-dasharray: 283;
    stroke-dashoffset: 70.75;
    animation: spin 1s linear infinite;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-ring__circle3 {
    stroke: #15c7a8;
    stroke-dasharray: 283;
    stroke-dashoffset: 84.9;
    animation: spin 1s linear infinite;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-ring__circle4 {
    stroke: #eb7d4b;
    stroke-dasharray: 283;
    stroke-dashoffset: 56.6;
    animation: spin 1s linear infinite;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 107px 170px;
    background-color: #ffdd99;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.portfolio-title {
    margin-bottom: 24.37px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    color: #393939;
}

.portfolio-description {
    margin-bottom: 37.13px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #393939;
}

.portfolio-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;
}

.category-btn {
    width: 90px;
    height: 38px;
    background-color: #d5b882;
    font-family: 'Titillium Web';
    border-radius: 5px;
    font-size: 24px;
    color: #393939;
    text-transform: uppercase;
    margin-right: 10px;
    text-align: center;
    line-height: 38px;
}

.selected {
    width: 84px;
    height: 38px;
    background-color: #fff;
    font-family: 'Titillium Web';
    border-radius: 5px;
    font-size: 24px;
    color: #393939;
    text-transform: uppercase;
    margin-right: 10px;
}

.portfolio-cards {
    width: 1103px;
    height: 785.03px;
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
}

.portfolio-card {
    width: 541px;
    height: 365.03px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-size: 100% 85%;
    background-position: center;
    background-position-y: 0;
}

.one {
    background: url('./assets/portfolios/1.png') no-repeat;
}

.two {
    background: url('./assets/portfolios/2.png') no-repeat;
}

.three {
    background: url('./assets/portfolios/3.png') no-repeat;
}

.four {
    background: url('./assets/portfolios/4.png') no-repeat;
}

.text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #393939;
}

.button5 {
    width: 294px;
    height: 70px;
}

.btn5 {
    width: 100%;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    background: #17C2A4;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #d74680;
    padding: 106px 182px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-content-title {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.about-content-description {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 83px;
    color: #FFF;
}

.people-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.client-img {
    align-self: flex-start;
}

.about-card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    width: 502px;
}

.about-card-right p {
    font-family: 'Titillium Web';
    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #FFF;
}

.about-card-right-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.client-name {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #FFF;
}

.client-development {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFDD99;
}